<div class="tile" id="headers">
<h1>Snowball Fight!</h1>
<h2>Whose a** do you want to kick with snowballs?</h2>
</div>

<div class='tile'>
<a class="btn btn-default bg-light" href="<%=signin_path%>" role="button">Sign In</a>
<a class="btn btn-default bg-light" href="<%=signup_path%>" role="button">Sign Up</a>
</div>
