<div class="tile" id="headers">
<h1>Snowball Fight!</h1>
<h2>Whose a** do you want to kick with snowballs?</h2>
</div>


<div class="tile center" >

  <h3> Rules of the Fight </h3>
  <ol>
    <li>Some Rule </li>
    <li>Some Other Rule </li>
    <li>More Rules</li>
    <li>Other Rules</li>
  </ol>

</div>
