<h2><%= @player.name %></h2>

<p><strong>Speed:</strong> <%= pluralize( @player.speed, 'snowball') %> per minute</p>
<p><strong>Accuracy:</strong> <%= @player.accuracy %>% hit rate</p>
<p><strong>Price:</strong> <%= @player.price %> snowballs</p>
